{% if consultant %}
<h1> Welcome {{consultant.prenom}} {{consultant.nom}}  </h1>
{% endif %}

{% if consultant %}
<table style="width:100%" border="1">
   <thead> 
    <tr>
    <th> id</th>
    <th> nom</th>
    <th> Prénom</th>
    <th> Date d'embauche</th>
    </tr>
    </thead> 

    <tbody> 
    
    <tr>
        <td>{{consultant.pk}}</td>
        <td>{{consultant.nom}}</td>
        <td>{{consultant.prenom}}</td> 
        <td>{{consultant.date_embauche}}</td>      
    </tr>    
    
     </tbody> 
</table>
{% endif %}

{% if commercial %}
<h1>Liste des consutants suivis : </h1>
<table style="width:100%" border="1">
   <thead> 
    <tr>
    <th> id</th>
    <th> nom</th>
    <th> Prénom</th>
    <th> Date d'embauche</th>
    </tr>
    </thead> 
{% for consultant in commercial.liste_consultants.all %}
    <tbody>     
    <tr>
        <td>{{consultant.pk}}</td>
        <td>{{consultant.nom}}</td>
        <td>{{consultant.prenom}}</td> 
        <td>{{consultant.date_embauche}}</td>      
    </tr>    
    
     </tbody> 
{% endfor %}
</table>
{% endif %}